@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 25px 2%;
    background-color: #7fdef9;
}

.title {
    font-size: 2.6em;
    margin: 0;
    margin-bottom: 20px;
    margin-right: 5%;
}

.unit {
    display: inline-block;
}

.announcement {
    background-color: white;
    flex-grow: 1;
    height: 2.6em;
    border-radius: 6px;
    min-width: 500px;
    margin-bottom: 20px;
}

.flexBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flexItem {
    margin: auto;
}